body {
    background: #fff;
    text-align: center;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #888;
    font-size: 12px;
    padding-top: 90px;
}

.color { color: #0b610b; }

a {
    color: #0b610b;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

a:hover { color: #888; text-decoration: none; }


/* Bootstrap Override */
 .container,
 .navbar-static-top .container,
 .navbar-fixed-top .container,
 .navbar-fixed-bottom .container {
    width: 100%;
 }
.row-fluid{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* Navbar */
.navigation.container {
    box-shadow: 0 0px 4px #ccc;
}

.header .navbar {
    margin-bottom: 0;
}

.header .navbar-inner {
    background: #fff;
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: 0 0px 4px #ccc;
    -webkit-box-shadow: 0 0px 4px #ccc;
    box-shadow: 0 0px 4px #ccc;
    height: 90px; 
    padding: 0 5%;
}

.header h1 {
    float: left;
    margin: 0;
    text-align: left;
}

.header a.brand {
    display: inline-block;
    text-indent: -9999px;
    width: 280px;
    height: 63px;
    padding: 10px 0;
    background-size: 160px 68px;
    background: url(../img/logo.png) 20px center no-repeat;
    position: relative;
    vertical-align: middle;
}

.header ul.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.header ul.nav li a {
    padding: 20px 20px 10px 20px;
    color: #5d5d5d;
    text-shadow: none;
}

.header ul.nav li.current-page a {
    padding-top: 15px;
    border-top: 5px solid #0b610b;
    background: #f8f8f8;
}

.header ul.nav li.current-page ul li a{
    padding-top: 0px;
    border-top: none;
    background: #fff;
}

.header ul.nav li.current-page ul li.current-page a{
    padding-top: 15px;
    border-top: 5px solid #0b610b;
    background: #f8f8f8;
}

.header ul.nav li a:hover, .header ul.nav li ul li a:hover, .header ul.nav li.current-page ul li a:hover {
    background: #0b610b;
    color: #fff;
}

.header ul.nav li a i {
    line-height: 35px;
    color: #aaa;
}

.header ul.nav li a:hover i { color: #fff; }

/* Welcome Panel */
.welcome {
    margin: 0 auto;
    background: #f8f8f8 url(../img/pattern.jpg) left top repeat;
    -moz-box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
    box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
}

/* Welcome Video, Registration Form, Login Form */
.welcome-video, .registration-form, .login-form {
    padding: 30px inherit;
    margin: 0 auto;
}

.wizard#registration{
    width: 855px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ededed;
}

ul.steps li {
    border-bottom: 1px solid #d4d4d4;
}
.registration-content{
    min-height: 402px;
    height: auto;
    width: 823px;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
    text-align: left;
    padding: 15px 15px 0px 15px;
    border: 1px solid #d4d4d4;
    margin-top: -2px;
}
.fuelux .form-actions {
    text-align: right;
    margin: 0 -15px;
    bottom: 0;
    position: absolute;
    width: 653px;
}
.form-horizontal, .form {
    height: 402px;
}
.login-form input[type="checkbox"] {
    margin-left: 55px;
    margin-right: 5px;
    margin-top: -3px;
}

/* Description */
.description {
    margin-top: 30px;
}

.description h2 {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: #5d5d5d;
}

.description p {
    font-size: 18px;
    font-style: italic;
}

/* Features */
.main-features {
    margin-top: 50px;
    padding-bottom: 30px;
}

.main-features .feature {
    padding-bottom: 23px;
    background: #f8f8f8;
    border-bottom: 2px solid #0b610b;
}

.main-features .feature:hover {
    box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05),
        0 1px 25px 0 rgba(0,0,0,.05) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -o-transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -ms-transition: all .5s;
}

.main-features .feature .icon-awesome {
    margin-top: 15px;
    font-size: 50px;
    line-height: 50px;
    color: #5d5d5d;
}

.main-features .feature h4 {
    margin-top: 5px;
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #5d5d5d;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.main-features .feature p {
    padding-bottom: 10px;
    line-height: 24px;
}

.main-features .feature a {
    padding: 5px 22px;
    background: #0b610b;
    color: #fff;
    font-style: italic;
    text-decoration: none;
    -moz-box-shadow:
        0 1px 25px 0 rgba(0,0,0,.05) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow:
        0 1px 25px 0 rgba(0,0,0,.05) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow:
        0 1px 25px 0 rgba(0,0,0,.05) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

.main-features .feature a:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.main-features .feature a:active {
    -moz-box-shadow:
        0 5px 10px 0 rgba(0,0,0,.15) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow:
        0 5px 10px 0 rgba(0,0,0,.15) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow:
        0 5px 10px 0 rgba(0,0,0,.15) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

/* Library */
.library-grouping{

}
.library-grouping h3.grouping-title{
    margin-left:40px;
    margin-bottom:0px;
    cursor: pointer;
}
.library-grouping h3.grouping-title i{
    vertical-align:middle;
    font-size: 15px;
}
.library-grouping hr{
    margin-top: 0px;
}
.library-grouping .library-grouping-content {
    width: 90%;
    margin: 0 auto;
}
.library-grouping .library-grouping-content img{
    max-width: 175px;
    max-height: 175px;
    margin: 5px;
    cursor: pointer;
}
.library-grouping .library-grouping-content img.placeholder{
    width: 175px;
    height: 175px;
}
.library-grouping-content .new-item {
    height: 175px;
    width: 175px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ccc;
    margin: 5px;
    text-align: center;
    cursor: pointer;
}
.library-grouping-content .new-item i {
    font-size: 100px;
    line-height: 175px;
}
.library-grouping-content .new-item:hover {
    background-color: #0b610b;
    color: #fff;
}

/* Footer */
footer {
    margin: 0 auto;
    padding-bottom: 10px;
    background: #f8f8f8 url(../img/pattern.jpg) left top repeat;
    -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset;
}

footer .widget {
    margin-top: 20px;
    text-align: left;
}

footer .widget h4 {
    margin-top: 20px;
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #5d5d5d;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

footer .widget p {
    line-height: 24px;
}

footer .widget i {
    padding-right: 7px;
}

/* Twitter feed */
.show-tweets {
    margin: 0;
    overflow-y: hidden;
}

.tweet_list {
    height: 10em;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    list-style: none;
}
    
.tweet_list li {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-type: none;
    line-height: 24px;
}
        
.tweet_list .tweet_avatar {
    float: left;
}
        
.tweet_list .tweet_avatar img {
    vertical-align: middle;
}

/* Flickr feed */
.flickr-feed {
    margin: 16px 0 0 0;
    overflow: hidden
}

.flickr-feed li {
    float: left;
    padding: 0 4px 4px 0;
    list-style: none;
}

.flickr-feed li img {
    width: 50px;
    border: 2px solid #eaeaea;
}

.flickr-feed a:hover {
    opacity: 0.7;
}


footer .footer-border {
    margin-top: 30px;
    border-top: 1px dashed #ddd;
}

footer .copyright {
    margin-top: 15px;
    text-align: left;
}

footer .social {
    margin-top: 10px;
    text-align: right;
}

footer .social a { display: inline-block; width: 24px; height: 24px; margin: 0 0 0 8px; vertical-align: middle; }

footer .social a.twitter { background: url(../img/social-icons/twitter.png) left bottom no-repeat; }
footer .social a.dribbble { background: url(../img/social-icons/dribbble.png) left bottom no-repeat; }
footer .social a.rss { background: url(../img/social-icons/rss.png) left bottom no-repeat; }
footer .social a.pinterest { background: url(../img/social-icons/pinterest.png) left bottom no-repeat; }
footer .social a.flickr { background: url(../img/social-icons/flickr.png) left bottom no-repeat; }
footer .social a.forrst { background: url(../img/social-icons/forrst.png) left bottom no-repeat; }
footer .social a.vimeo { background: url(../img/social-icons/vimeo.png) left bottom no-repeat; }
footer .social a.linkedin { background: url(../img/social-icons/linkedin.png) left bottom no-repeat; }
footer .social a.facebook { background: url(../img/social-icons/facebook.png) left bottom no-repeat; }
footer .social a.email { background: url(../img/social-icons/email.png) left bottom no-repeat; }
footer .social a.github { background: url(../img/social-icons/github.png) left bottom no-repeat; }
footer .social a.behance { background: url(../img/social-icons/behance.png) left bottom no-repeat; }
footer .social a.googleplus { background: url(../img/social-icons/googleplus.png) left bottom no-repeat; }
footer .social a.youtube { background: url(../img/social-icons/youtube.png) left bottom no-repeat; }
footer .social a.skype { background: url(../img/social-icons/skype.png) left bottom no-repeat; }
footer .social a.tumblr { background: url(../img/social-icons/tumblr.png) left bottom no-repeat; }

footer .social a:hover { background-position: left top; }

